@model Webdemo01.Models.Department
<tr>
    <td>@Model.Name</td>
    <td>@Model.Location</td>
    <td>@Model.EmployeeCount</td>
    <td><a asp-controller="Employee" asp-action="Index" asp-route-departmentid="@Model.Id">Employees</a></td>
</tr>